@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
  height: 100%;
}

body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  height: 100%;
  }

  .parent > div {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  nav {
    grid-area: 1 / 1 / 2 / 6;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  a {
    text-decoration: none;
    padding: 5px;
  }

  .side {
    grid-area: 2 / 1 / 5 / 2;
  }

  .side h2 {
    transform: rotate(-90deg);
  }

  .bottom { grid-area: 2 / 2 / 5 / 4; }
  .bottom-right { grid-area: 2 / 4 / 5 / 6; }
  .right { grid-area: 5 / 4 / 6 / 6; }
  .center { grid-area: 5 / 1 / 6 / 4; }
